.search {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search--top {
    justify-content: center;
    align-items: flex-start;
    height: auto;
}
.search--middle {
    justify-content: center;
    align-items: center;
}